{% extends 'Templates/layout_login.html.twig' %}

{% block body %}
    {% set currentPath = app.request.requestUri %}

    <section>

        <div>
            <div>Connexion</div>

            <div>
                <form method="POST">
                    <input type="text" id="username" name="_username" value="{{ lastLogin }}" placeholder="Email" />
                    <input type="password" id="password" name="_password" placeholder="Mot de Passe" />

                    {# Redirect Url if success #}
                    <input type="hidden" name="_target_path" value="{{ url('login') }}" />

                    {# Redirect Url if failure #}
                    <input type="hidden" name="_failure_path" value="{{ currentPath }}" />

                    {# CSRF Protection #}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                    <div class="mt-3">
                        <button type="submit">Connexion</button>
                    </div>

                </form>
            </div>
        </div>

    </section>

    {% if error %}
        <section>
            <div>
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
        </section>
    {% endif %}

{% endblock %}
